services:
  mongo1:
    image: mongo:5
    container_name: mongo1
    command: mongod --replSet myReplicaSet --bind_ip localhost,mongo1
    ports:
      - "27017:27017"
    networks:
      - mongoCluster

  mongo2:
    image: mongo:5
    container_name: mongo2
    command: mongod --replSet myReplicaSet --bind_ip localhost,mongo2
    ports:
      - "27018:27017"
    networks:
      - mongoCluster

  mongo3:
    image: mongo:5
    container_name: mongo3
    command: mongod --replSet myReplicaSet --bind_ip localhost,mongo3
    ports:
      - "27019:27017"
    networks:
      - mongoCluster

  init-replica:
    image: mongo:5
    container_name: init-replica
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - mongoCluster
    entrypoint: >
      bash -c "
        sleep 5 &&
        mongosh --host mongo1 --eval '
          rs.initiate({
            _id: \"myReplicaSet\",
            members: [
              { _id: 0, host: \"mongo1:27017\" },
              { _id: 1, host: \"mongo2:27017\" },
              { _id: 2, host: \"mongo3:27017\" }
            ]
          })'
        "

  yolo5-service:
    image: ${YOLO5_IMG_NAME}
    container_name: yolo5-service
    environment:
      - MONGO_URI=${MONGO_URI}
      - BUCKET_NAME=${BUCKET_NAME}
    ports:
      - "8081:8081"
    networks:
      - mongoCluster

  polybot:
    image: ${POLYBOT_IMG_NAME}
    container_name: polybot
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_APP_URL=${TELEGRAM_APP_URL}
      - MONGO_URI=${MONGO_URI}
      - BUCKET_NAME=${BUCKET_NAME}
      - YOLO_PORT=${YOLO_PORT}
    ports:
      - "8443:8443"
    networks:
      - mongoCluster
    depends_on:
      - yolo5-service
      - mongo1
      - mongo2
      - mongo3

networks:
  mongoCluster:
    driver: bridge